<h1>Dobrodošli v skrivnem mestu, kjer se da DROPat in naFILLat DataBase</h1>
<div class="button col-lg-2 col-md-3 col-sm-12">
    <a class="btn btn-primary btn-lg col-12"  href="/api/brisidb">Zbriši vsebino</a>
</div>
<br>
<div class="button col-lg-2 col-md-3 col-sm-12">
    <a class="btn btn-primary btn-lg col-12"  href="/api/polnidb">Napolni vsebino</a>
</div>
