<h1>Predvajanje v živo</h1>
<h4> iz YouTube kanala: {{feed.title}}</h4>

<iframe height=500px src="https://www.youtube.com/embed/5qap5aO4i9A?autoplay=1"
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
